#contact{
    width: 100%;
    height: 150vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding-top: 180px;
}
#contact form {
    width: 70%;
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
#contacttitle{
    font-size: 40px;
    font-weight: 300;
    color: black;
    margin-bottom: 20px;
}
#contact .list{
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 5px;
}
#contact .list label{
    font-size: 20px;
    font-weight: 300;
    color: black;
}
#contact form .list input{
    width: 90%;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 0.5px solid rgb(172, 172, 168);
    border-radius: 7px;
}
#contact form .list textarea{
    width: 90%;
    padding: 3px;
    box-sizing: border-box;
    outline: none;
    font-size: 15px;
    font-weight: 300;
    color: black;
    border: 0.5px solid rgb(172, 172, 168);
    border-radius: 7px;
}
#contactbtn{
    padding: 10px 40px 10px 40px;
    background-color: royalblue;
    color: white;
    font-size: 18px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
}
#contactbtn svg {
    width: 20px;
    height: 20px;   
    color: white;
}
#contactbtn:hover{
    background-color: rgb(11, 60, 209);
}
